html {
    --hand-timing: cubic-bezier(0,1.15,.75,1.0);

    --primary-shadow-color: rgb(50 20 20 / 0.8);

    --virgil-blue-100: rgb(129 156 185);
    --virgil-blue-200: rgb(107 140 183);
    --virgil-blue-400: rgb( 64 107 158);
    --virgil-blue-500: rgb( 55  96 150);
    --virgil-blue-700: rgb( 54  87 138);
    --virgil-blue-800: rgb( 51  67 101);

    --drawer-handle-hidden-drop-shadow:  drop-shadow(var(--primary-shadow-color) -25px -10px 1px);
    --drawer-handle-peeking-drop-shadow: drop-shadow(var(--primary-shadow-color) -6px -4px 1.5px);
    --drawer-handle-erect-drop-shadow:   drop-shadow(var(--primary-shadow-color) -3.5px -3.75px 1.65px);
}

body {
    background: rgb(255 234 200);
    font-family: Quattrocento;
    position: absolute;
    height: 100dvh;
    width: 100dvw;

}

main {
    width: 100%;
    height: 100%;
}

main .viewer {
    width: 100%;
    height: 100%;
}

.dresser {
    position: fixed;
    width: 100%;
    height: 100%;
}

.drawer-handle-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    transition: transform 350ms var(--hand-timing),
                filter 500ms var(--hand-timing),
                visibility linear 550ms;
}

.drawer-handle {
    height: 45%;
    cursor: pointer;
    user-select: none;

    transform: translateX(-100%) translateY(4%) scale(0.92);
    transition: transform 350ms var(--hand-timing),
                filter 500ms var(--hand-timing),
                visibility linear 550ms;
    filter: var(--drawer-handle-hidden-drop-shadow);
}

.drawer-handle-hidden {
    visibility: hidden;
    transform: translateX(-100%) translateY(6%) scale(0.92);
    filter: var(--drawer-handle-hidden-drop-shadow);
}

.drawer-handle-peeking {
    transform: translateX(-25%) translateY(3%) scale(0.96);
    filter: var(--drawer-handle-peeking-drop-shadow);

}

.drawer-handle-erect {
    transform: translateX(-3%) translateY(0);
    filter: var(--drawer-handle-erect-drop-shadow);
}

.drawer {
    overflow: scroll;

    position: fixed; 
    top: 0;
    height: 100dvh;
    left: 5dvw;
    display: flex;
    flex-flow: column nowrap;

    font-family: Quattrocento-stretched;
    font-size: 1.1rem;
    font-weight: 900;

    transition: transform 400ms var(--hand-timing),
                visibility linear 401ms;
}

.drawer-headliner {
    display: flex;
    flex-flow: row wrap;

    justify-content: flex-end;
    gap: .6rem;

    font-size: 3dvh;
    margin-top: 1dvh;

    cursor: pointer;
}

i {
    transition: transform 220ms var(--hand-timing);
}

.drawer-headliner:hover > i {
    transform:
        scale(1.01)
        translateX(-2.5%)
        rotateX(3deg)
        rotateY(1deg)
        rotateZ(2deg);
}

.drawer-headliner h2 {
    margin: auto;
    transition: transform 220ms var(--hand-timing);
}

.drawer-headliner:hover > h2 {
    transform: scale(1.02);
}

.back-btn {
    background: url(assets/finger.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 8dvh;
    width: 20dvh;
    margin-bottom: .6rem;
}

.drawer-contents {
    flex: 1;

    display: flex;
    flex-flow: column wrap;

    height: 89dvh;

    gap: .2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.drawer-books .drawer-contents {
    font-size: 1.25rem;

    /* flow must be switched for writing mode*/
    flex-flow: row wrap;
    writing-mode: vertical-lr;
    justify-content: center;
    align-items: center;
    text-orientation: upright;
    letter-spacing: .08rem;
    line-height: 1.5;
}

.drawer-books .drawer-contents a {
    max-width: 4rem;
    padding: 0.8rem 2rem;
}

.drawer-contents a {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(64 107 158 / 0.6);
    
    backdrop-filter: blur(2px);
    
    flex: 1;
    border-radius: 2px;
    border: 1.5px solid rgb(250 240 240);
    max-height: 10dvh;
    min-height: min-content;

    margin: .1rem 0.5rem;

    cursor: pointer;
    padding: .4rem 1rem;
    text-align: center;
    vertical-align: middle;

    box-shadow: -3px 1.1px 2px rgb(20 9 4 / 0.2);
    z-index: 1;

    transition: transform 200ms var(--hand-timing),
                box-shadow 150ms linear,
                background 100ms linear,
                z-index 150ms;

}

.drawer-contents a:hover {
    transform: translateX(3%) translateY(-1%) scale(1.04);
    background: rgb(79 122 173 / 0.6);
    box-shadow: -2.5px 0.8px 3px rgb(14 0 1 / 0.2);
    z-index: 2;

    transition: transform 400ms var(--hand-timing),
                box-shadow 350ms linear,
                background 300ms linear;
}


.drawer-closed {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%) scale(0.8);
    transition: transform 500ms var(--hand-timing),
                opacity 650ms,
                visibility linear 1301ms;
}

.drawer-open {
    visibility: visible; 
    opacity: 1;
    transform: translateX(0);
    transition: transform 300ms var(--hand-timing),
                opacity 200ms;
}
