.toolbox {
	z-index: 1;
	position: fixed;

	bottom: 1%;
	right: 2%;
	font-size: 3rem;

}

.toolbox-handle {
	display: flex;
	align-items: flex-end;
	gap: 1.5rem;
	height: 50dvh;
}

.toolbox-handle-button {
	cursor: pointer;
}

.toolbox-handle-closed {
	visibility: hidden;
}

.toolbox-handle-open {
	visibility: visible;
}

.toolbox-tools {
	display: flex;
	flex-flow: column nowrap;
	gap: 1.2rem;
}

.toolbox-tools-btn {
	cursor: pointer;
}

.toolbox-tools-open .toolbox-tools-btn {
	visibility: visible;
	display: block;
}

.toolbox-tools-closed .toolbox-tools-btn {
	visibility: hidden;
	display: none;
}


.toolbox-tools-closed .toolbox-tools-btn.toolbox-tools-open-btn {
	visibility: visible;
	display: block;
}

