#osd-element .a9s-inner {
	fill: rgb(12 40 200 / 0.1);
}

#osd-element .r6o-editor {
	width: fit-content;
}

.r6o-editor-inner > .widget {
	width: fit-content;
}

.annotation-widget-container {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.annotation-widget-verse {
	background-color: rgb(240 240 240);
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	gap: 2rem;
	padding: 1rem;
}

/*
.annotation-widget-verse br {
	counter-increment: line;
}

.annotation-widget-verse br:before {
	content: counter(line);
	padding-right: .5rem;
	background: rgb(220 220 220 / 0.4);
}
*/

.cite-widget-container {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.cite-widget-input-container {
	display: flex;
	flex-flow: column nowrap;
}
